<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYJRdLk8GpLW-qov1sS_hZe254jQERPq8</string>
	<key>GCM_SENDER_ID</key>
	<string>283872932313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.aigen</string>
	<key>PROJECT_ID</key>
	<string>plantpurify-f125f</string>
	<key>STORAGE_BUCKET</key>
	<string>plantpurify-f125f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283872932313:ios:ca66d7f5ce23dbae1029c8</string>
</dict>
</plist>